body{
    /* background-color: rgb(4, 45, 64); */
    background-image: url("../assets/3.jpg");
    background-size: cover;
    
    
}

#parent{

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: monospace;
    margin-bottom: 80px;
   

}

#title-container{
    display: flex;
    flex-direction: row;
    background-color: rgba(227, 237, 252, 0.12);
    width: 100vw;
    justify-content: center;
    color: rgba(255, 255, 255, 0.423);
    font-family:monospace;
}

#image-holder{
    position: relative;
    /* background-color: rgba(128, 128, 128, 0.108); */
    background-color: transparent;
    width: 600px;
    height: 380px;
    margin-top: 80px;
    border-radius: 30px;

}


#population-holder{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(128, 128, 128, 0.432); */
    background-color: transparent;
    width: 300px;
    height: 80px;
    margin-top: 20px;
    font-size: 30px;
    font-family: monospace;
    color: black;

}

#browse-search-parent{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* background-color: red; */

}



#search-area{
    position: relative;
    background-color:  rgba(227, 237, 252, 0.639);
    width: 600px;
    height: 60px;
    font-size: 30px;
    font-family: monospace;
    font-weight:bolder;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 0.1px solid black;
    color: white;
    

}


#browse-button{

    position: absolute;
    background-color: white;
    width: 100px;
    height: 40px;
    font-size:15px;
    font-family: monospace;
    font-weight:bolder;
    left:620px;
     border: 0.1px solid black;
    


}



#browse-button:hover{

    cursor: pointer;
    


}


#button{

    position: relative;
    background-color: white;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    font-size:15px;
    font-family: monospace;
    font-weight:bolder;
     border: 0.1px solid black;


}


#button:hover{
    cursor: pointer;
}


